<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <runtime>
        <!-- 원격 파일의 접근을 허용합니다. -->
        <loadFromRemoteSources enabled="true"/>
    </runtime>
    <appSettings>
        <add key="Deploy" value="http://localhost:22022/deploy"/>      
    </appSettings>
</configuration>